@page "/stageone"
@using Best_Hackathon_Codiseea.Models;
@using Best_Hackathon_Codiseea.Data;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@inject TeamTaskService teamTaskService
@attribute [Authorize]
<h3>Bun venit la BEST Hackathon Codiseea !</h3>
<h6>
    Ne bucurăm că sunteţi alături de noi, pentru a începe cel mai fain drum, dar şi cel mai dificil.
    La această etapă trebuie să vă adaptaţi, pentru a înfrunta alternativul creaturilor mitice, adică problemele logice.
</h6>
<h6>
    Alte detalii:
    Soluţiile se vor introduce în chenarele de mai jos, iar după ce aţi introdus soluţia, butonaţi "Submit".
</h6>

<br />
<br />
<div class="card">
    <div class="card-body">
        <h4>
            1. Status : @{ if (!string.IsNullOrEmpty(value))
                {<span class="text-danger">@value</span>}}
        </h4>
        <hr />
        <div hidden="@HideAnswer">
            <strong>Problema:</strong>
            <p>BEST Chișinău iubește culoarea roșu.</p>
            <br />
            <strong>Sarcina:</strong>
            <br />
            <p>Trebuie să calculați suma componentelor roșii din fiecare pixel a <a href="https://drive.google.com/u/0/uc?id=1HPxGU2uXfbxHAyRan4cHtHuOaS8EKNWq&export=download">imaginii</a></p>
            <br />
            <div class="row">
                <div class="col-9">
                    <input class="form-control" @bind="@UserAnswer">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" @onclick="() => CheckAnswer(1)">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h4>
            2. Status : @{ if (!string.IsNullOrEmpty(value2))
                {<span class="text-danger">@value2</span>}}
        </h4>
        <hr />
        <div hidden="@HideAnswer2">
            <strong>Problema succesului:</strong>
            <p>
                Se dă un şir de numere care ar reprezenta succesul unei persoane. Succesul este atunci când valorile din subşir sunt în ordine crescătoare. Pentru că nimeni nu este ideal, după fiecare acţiune executată cu succes, urmează insuccesul - o valoare mai mică de cât precedenta.
                Toate acestea se vor repeta una după alta până când se va întâlni valoarea 0, rezultând sfarşitul şirului.
            </p>
            <br />
            <strong>Sarcina:</strong>
            <p>Se va afişa succesul în ordine inversă celei de introducer, separate prin spaţiu.</p>
            <strong>Exemplu:</strong>
            <p>Intrare: 1 2 10 3 7 5 4 3 0</p>
            <p>Ieşire:  10 2 1 7 3 3 4 5 2</p>
            <br />  
            <p>Numerele 1,2,10 reprezintă succesul, respectiv ca date de ieşire se vor inversa (10,2,1), dupa urmează nr 3 şi reprezintă eşecul, iar 7 reprezintă succesul, iar 5,4,3 reprezintă eşecul. La sfarşitul şirului de numere, în locul lui 0 va fi numărul de succese, în cazul nostru este nr 2.</p>
            <br />
            <p>Datele de intrare pentru determinarea cheii: 1 1 4 8 9 2 4 8 44 5 86 2 4 0</p>
            <br />
            <div class="row">
                <div class="col-9">
                    <input class="form-control" @bind="@UserAnswer2">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" @onclick="() => CheckAnswer(2)">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h4>
            3. Status : @{ if (!string.IsNullOrEmpty(value3))
                {<span class="text-danger">@value3</span>}}
        </h4>
        <hr />
        <div hidden="@HideAnswer3">
            <strong>Problema:</strong>
            <p>Sunt date <a href="https://drive.google.com/u/0/uc?id=13Uuo0yslwXKzi1b0bL3SzIdJRE5OznKq&export=download">două fișiere</a> care conțin cuvinte. Primul fișier conține mai multe cuvinte. Al doilea conține câteva din cuvintele din primul fișier dar literele sunt schimbare cu locul în interiorul cuvintelor.</p>
            <br />
            <strong>Sarcina:</strong>
            <p>
                Să se găsească cuvintele care se conțin în ambele șiruri. <br />
                Cheia va conține cuvintele concatenate în ordinea din fișierul al doilea.
            </p>
            <br />
            <div class="row">
                <div class="col-9">
                    <input class="form-control" @bind="@UserAnswer3">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" @onclick="() => CheckAnswer(3)">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
<br />

<div class="card">
    <div class="card-body">
        <h4>
            4. Status : @{ if (!string.IsNullOrEmpty(value4))
                {<span class="text-danger">@value4</span>}}
        </h4>
        <hr />
        <div hidden="@HideAnswer4">
            <strong>Problema:</strong>
            <p>Pe pagina <a href="https://www.instagram.com/best_chisinau/">BEST Chişinău</a> de instagram sunt ascunse bucăți de cheie.</p>
            <br />
            <strong>Sarcina:</strong>
            <br />
            <p>Găsiți cheia.</p>
            <br />
            <div class="row">
                <div class="col-9">
                    <input class="form-control" @bind="@UserAnswer4">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" @onclick="() => CheckAnswer(4)">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h4>
            5. Status : @{ if (!string.IsNullOrEmpty(value5))
                {<span>@value5</span>}}
        </h4>
        <hr />
        <div hidden="@HideAnswer5">
            <strong>Problema:</strong>
            <p>Mai jos este atașat un fișier text, care conține un fragment din Odiseea lui Homer. Acest <a href="https://drive.google.com/u/0/uc?id=1y8NS47bNU0umd6jhWMLCqwCFhiTImoNX&export=download">fișier</a> a fost criptat în două etape, utilizând doi algoritmi de criptare diferiți.</p>
            <br />
            <strong>Sarcina</strong>
            <br />
            <p>Să se descifreze fragmentul inițial. După ce a fost descifrat, utilizând aceiași algoritmi se va cripta următoarea secvență:</p>
            <br />
            <p>
                o pace-ntre popor si el a pus,<br />
                atene deci, schimbindu-i sortii pasul,<br />
                si-avind ca Mentor chipul sau si glasul.<br />
            </p>
            <br />
            <strong>Note:</strong>
            <p>Prima etapă de decriptare:</p>
            <p>Se folosește un algoritm simetric, iar lungimea cheii este de 16 biți. În rezultatul decriptării va trebui să obțineți un text care conține doar caractere afișabile.</p>
            <p>
                A doua etapă: <br />
                i = i <br />
                v = a, dar a != v <br />
            </p>
            <p>Textul inițial conține nume de personaje, munți și alte substantive proprii din Odiseea. Toate sunt scrise cu litere minuscule.</p>

            <strong>Criptarea:</strong>
            <p>Textul propus va fi copiat în tocmai ca în sarcină. Textul variantei criptate se recomandă de a fi salvat într-un fișier de unde să fie ulterior copiat și inserat în câmpul cheii.</p>
            <br />
            <p>Sarcina respectiva se va verifica manual de catre organizatori</p>

        </div>
    </div>
</div>
<br />
<br />

@code {
    [Parameter]
    public string CorrectAnswer { get; set; } = "58738108";

    [Parameter]
    public string CorrectAnswer2 { get; set; } = "9 8 4 1 1 44 8 4 2 86 5 4 2 4";

    [Parameter]
    public string CorrectAnswer3 { get; set; } = "lopatavremeasosindfrumosrotundurechinimenigleznecatargvislas";

    [Parameter]
    public string CorrectAnswer4 { get; set; } = "OGPTRUTSFVUJSPZPOCGGHTYNXYUTEDMXVZAETZEMWTCKIFUPCVNBPCPYLNQLSABMOGLSRCNXLKNKFSZNNRGUTFSPRINEBYYSJROBDJAQXDZUYKUEGMERFUHHXDFDQHRBLXTFMNOQPGKUCNXTHWESFMKMIWXZEWOOKSPJTWATRKHHUQSFZHVRLOAMPNHDRVAQPORHQQCQHWLDAVJSAURWFRNNISWDDJMZPGTMPRRZKIPRZGTDZBERCYTOLHPRWCVWQGDMIPWLQILCCQEWCUWRMQDLXPOOIVEVYOYDKTVRM";

    [Parameter]
    public string CorrectAnswer5 { get; set; } = @"^WY^H^X^[^\U^W^L^K^]Y^H^V^H^V
Y^K^PX^\^TY^YY^H^L^KUr^X^L^\^V^\X^]^]^Z^QUX
^[^Q^Q^T^Z^P^V^]^MT^QY^K^V
^M^Q^PX ^Y
^M^UTs^K^PU^X^N^P^V^]X^Z^YY5^\^V^M^W^KX^Z^P^P^H^L^TY^K^X^MY^K^PX^^^T^X^K^L^TW";

    [Parameter]
    public string CorrectAnswer5_Linux { get; set; } = @"^WY^H^X^[^\U^W^L^K^]Y^H^V^H^V
Y^K^PX^\^TY^YY^H^L^KUr^X^L^\^V^\X^]^]^Z^QUX
^[^Q^Q^T^Z^P^V^]^MT^QY^K^V
^M^Q^PX ^Y
^M^UTs^K^PU^X^N^P^V^]X^Z^YY5^\^V^M^W^KX^Z^P^P^H^L^TY^K^X^MY^K^PX^^^T^X^K^L^TW";

    public string UserAnswer { get; set; }
    public string UserAnswer2 { get; set; }
    public string UserAnswer3 { get; set; }
    public string UserAnswer4 { get; set; }
    public string UserAnswer5 { get; set; }

    public bool HideAnswer = false;
    public bool HideAnswer2 = false;
    public bool HideAnswer3 = false;
    public bool HideAnswer4 = false;
    public bool HideAnswer5 = false;

    public string value, value2, value3, value4, value5 = "";
    //date;

    public int sum = 0;

    List<TeamTask> teamTasks1;
    List<TeamTask> teamTasks2;
    List<TeamTask> teamTasks3;
    List<TeamTask> teamTasks4;
    List<TeamTask> teamTasks5;



    protected async Task CheckAnswer(int VerifyTask)
    {
        switch (VerifyTask)
        {
            case 1:
                if (!string.IsNullOrEmpty(UserAnswer))
                {
                    if (UserAnswer.ToLower() == CorrectAnswer.ToLower())
                    {
                        value = "Correct";
                    }
                    else
                    {
                        value = "Incorrect";
                    }
                }
                break;
            case 2:
                if (!string.IsNullOrEmpty(UserAnswer2))
                {
                    if (UserAnswer2.ToLower() == CorrectAnswer2.ToLower())
                    {
                        value2 = "Correct";
                    }
                    else
                    {
                        value2 = "Incorrect";
                    }
                }
                break;
            case 3:
                if (!string.IsNullOrEmpty(UserAnswer3))
                {
                    if (UserAnswer3.ToLower() == CorrectAnswer3.ToLower())
                    {
                        value3 = "Correct";
                    }
                    else
                    {
                        value3 = "Incorrect";
                    }
                }
                break;
            case 4:
                if (!string.IsNullOrEmpty(UserAnswer4))
                {
                    if (UserAnswer4.ToLower() == CorrectAnswer4.ToLower())
                    {
                        value4 = "Correct";
                    }
                    else
                    {
                        value4 = "Incorrect";
                    }
                }
                break;
            case 5:
                if (!string.IsNullOrEmpty(UserAnswer5))
                {
                    if (UserAnswer5.ToLower() == CorrectAnswer5.ToLower())
                    {
                        value5 = "Correct";
                    }
                    else
                    {
                        value5 = "Incorrect";
                    }
                }
                break;
            default:
                value = "False";
                break;
        }
    }
}
